<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="defaultClassifier" class="ru.ifmo.ctddev.larionov.bach.classifier.Classifier">
        <constructor-arg index="0">
            <list>
                <bean class="ru.ifmo.ctddev.larionov.bach.comparator.IPAddressComparator"/>
            </list>
        </constructor-arg>
        <constructor-arg index="1">
            <list>
                <value>0.5</value>
            </list>
        </constructor-arg>
    </bean>
</beans>