<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="defaultClassifier" class="ru.ifmo.ctddev.larionov.bach.classifier.Classifier">
        <constructor-arg index="0">
            <list>
                <bean class="ru.ifmo.ctddev.larionov.bach.comparator.IPAddressComparator"/>
                <bean class="ru.ifmo.ctddev.larionov.bach.comparator.URLShinglesComparator"/>
            </list>
        </constructor-arg>
        <constructor-arg index="1">
            <list>
                <value>0.25</value>
                <value>0.5</value>
            </list>
        </constructor-arg>
        <constructor-arg index="2" ref="pageChecker"/>
    </bean>

    <bean name="defaultUrls" class="ru.ifmo.ctddev.larionov.bach.common.site.FileList">
        <constructor-arg value="test.txt"/>
    </bean>

    <bean name="linkStrategy" class="ru.ifmo.ctddev.larionov.bach.checker.linkstrategy.SimpleLinkStrategy"/>
    <bean name="textChecker" class="ru.ifmo.ctddev.larionov.bach.checker.textchecker.ShinglesTextChecker"/>
    <bean name="pageChecker" class="ru.ifmo.ctddev.larionov.bach.checker.PageChecker">
        <constructor-arg ref="linkStrategy"/>
        <constructor-arg ref="textChecker"/>
    </bean>
</beans>